<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdN2NahDEn7fI-R-JVs5U7rx-NvQTV-3c</string>
	<key>GCM_SENDER_ID</key>
	<string>656397400785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myBu</string>
	<key>PROJECT_ID</key>
	<string>my-bu-b3867</string>
	<key>STORAGE_BUCKET</key>
	<string>my-bu-b3867.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656397400785:ios:88e6309da8cd19bee1a3f0</string>
</dict>
</plist>